.git/*
.idea/*
.vscode/*
/.env
cache-loader/
.awcache/*
node_modules/*
vendor/*
bootstrap/cache/*
storage/.cache/*
storage/.config/*
storage/temp/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/*
Dockerfile


docker-compose*.yml
.gitlab-ci.yml
*.example
.gitignore
.editorconfig
*.md
.dockerignore
devops/helm/**
devops/octopus/**