//Navbar
$font-size-navbar-brand: 20px;
$font-size-navbar-items: 12px !important;

//SideBar
$font-size-sidebar-items: 15px !important;
$color-sidenav-hover-text:  #000;
//Body
$color-primary-body-bg: #fff;

//Buttons
$color-primary-button-bg: #204d74;
$color-primary-button-text: #fff;

//Panels
$color-panel-header-bg: #795548;
$color-panel-header-text: #fff;

//Colors
$color-primary: #8A4F94;

$color-text-primary: #000;
$color-text-secondary: #fff;

$error-color: red;