$header-height: 57px;

$error-color: red;
$primary-text-color: #000;

$primary-background-color: #fff;

$sidenav-background-color: rgba(235, 235, 235, 0.69);
$sidenav-successive-padding-left: 12px;

$primary-hover-background: #aaa;
$primary-hover-text: $primary-text-color;
$primary-active-background: #006baa;
$primary-active-text: #fff;