$header-height: 57px !default;

$error-color: red !default;
$primary-text-color: #000 !default;

$primary-background-color: #fff !default;

$sidenav-background-color: rgba(235, 235, 235, 0.69) !default;
$sidenav-successive-padding-left: 12px !default;

$primary-hover-background: #aaa !default;
$primary-hover-text: $primary-text-color !default;
$primary-active-background: #006baa !default;
$primary-active-text: #fff !default;