@import 'variables';
@import "mixins";
@import "extendables";

.user-header-image{
  height: 25px;
  width: auto;
}

.form-error{
  color: $error-color
}

.status-text{
  color: $primary-text-color;
  padding: 2px;
  display: block;
}

.padding-none{
  padding: 0px;
}

.center-div{
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.main-content-container{
  margin-top: $header-height;
}

.margin-top-main-content{
  margin-top: 50px;
}

/* The side navigation menu */
.sidenav {
  min-height: 100%; /* 100% Full-height */
  margin-top: $header-height;
  position: fixed; /* Stay in place */
  display: block;
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  opacity: 1;
  background-color: $sidenav-background-color; /* Black*/
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  ul{
    list-style-type: none;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-left: 0px !important;
    padding-left: $sidenav-successive-padding-left;



    a{
      border-bottom: 1px solid #bbb;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      display: block;
      color: $primary-text-color;
      transition: 0.3s;

      &:hover{
        color: $primary-hover-text !important;
        background-color: $primary-hover-background;
      }
    }
  }
}